:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 500;
  --default-spacing: 15px;
  --default-margin: 1.5rem;
  --medium-margin: 3.5rem;
  --larger-margin: 6rem;
  --primary-color: #1b75b1; 
  background-color: #242424;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-top: var(--default-margin);
  color: var(--primary-color);
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-spacing);
  margin-top: var(--medium-margin);
  margin-bottom: var(--larger-margin);
}

.buttons .btn,
.buttons .btn:active,
.buttons .btn:focus {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 1s, color 0.3s, box-shadow 0.3s;
  border-radius: 10%;
}

.buttons .btn:hover {
  background-color: #1b75b1;
  color: #fff;
  box-shadow: 0 3px 6px rgba(228, 228, 228, 0.1);
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 1s, color 0.3s, box-shadow 0.3s;
}

.error-msg {
  color: #ff3333;
  text-align: center;
  margin-top: var(--default-margin);
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--default-margin);
}

.search-section .search-input {
  min-width: 300px;
  width: 100%;
  padding: var(--default-spacing);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

.search-section .search-btn {
  margin-left: var(--default-spacing);
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: var(--default-margin);
}

.filters > * {
  padding: 10px 15px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.images {
  margin-top: var(--medium-margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  grid-gap: var(--default-spacing);
  justify-content: center;
  align-items: center;
}

.images .image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
}

.images .image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.expanded-image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  border-radius: 10px;
  z-index: 999; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.expanded-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.expanded-image img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1b75b1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.close-button:hover {
  background-color: #15598a;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}


.lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  border-radius: 10px;
  z-index: 999; 
}

.lightbox-content {
  position: relative;
  width: 80%; 
  height: 100%; 
  max-width: 800px; 
  max-height: 600px; 
  overflow: auto; 
}

.lightbox-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
 a
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1b75b1;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.download-button {
  position: absolute;
  top: 67px;
  right: calc(20px - 10px); 
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.download-button:hover {
  background-color: #1b75b1;
}

@media only screen and (max-width: 768px) {
  .lightbox {
    width: 90%; 
    height: 90%; 
  }

  .lightbox-content {
    width: 100%; 
    height: 100%; 
  }

  .close-button {
    top: 5px; 
    right: 5px; 
    font-size: 16px; 
    padding: 8px 16px; 
  }

  .download-button {
    top: 42px; 
    right: 9px; 
    font-size: 0.9rem; 
    padding: 8px 16px; 
  }
}
